h1 {
    padding: 10px;
    background-color: rgb(169, 255, 226);
    margin-top: 100px;
    text-align: center;
    width: 275px;
    margin: auto;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: rgb(179, 199, 92);
}
label {
    display: block;
    margin-bottom: 10px;
}
.inline-label {
    display: inline-block;
    margin-bottom: 10px;
}
form {
    background-color: rgb(228, 210, 187);
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    width: 275px;
    margin: auto;
    margin: auto;
    border: solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: rgb(179, 199, 92);
}
body {
    margin-top: 100px;
}