h1 {
    padding: 10px;
    background-color: rgb(169, 255, 226);
    margin-top: 100px;
    text-align: center;
    width: 275px;
    margin: auto;
}
.label-text {
    text-transform: capitalize;
}
label {
    display: block;
    margin-bottom: 10px;
}
.inline-label {
    display: inline-block;
    margin-bottom: 10px;
}
option {
    text-transform: capitalize;
}
form {
    background-color: rgb(228, 210, 187);
    text-align: center;
    margin-top: 50px;
    padding: 10px;
    width: 275px;
    margin: auto;
}
body {
    margin-top: 200px;
}