<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="BookDetails.css">
    <title>Book details</title>
</head>
<body>
    <div class="data-container">
        <p>Id - 1</p>
        <p>Title - AnyTitle</p>
        <p>Genre - AnyGenre</p>
        <p>Author - AnyAuthor</p>
        <p>Year - 2021</p>
        <p>Pages - 111</p>
        <p>Inspired by - me</p>
    </div>
</body>
</html>