div.data-container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
    padding: 3px 20px;
    text-align: center;
    width: 35%;
    border-radius: 25px;
    border: solid;
    border-color: darkblue;
}

p {
    font-size: 35px;
    color: darkblue;
}