<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Fancy Library Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a class="page" href="../LoginPage/login.html">Login</a>
                </li>
                <li>
                    <a class="page"  href="../RegisterPage/register.html">Register</a>
                </li>
                <li>
                    <a class="page"  href="../BookPage/book.html">Books</a>
                </li>
                <li>
                    <a class="page"  href="../AuthorPage/author.html">Authors</a>
                </li>
                <li>
                    <a class="page"  href="../ProfilePage/profile.html">Profile</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>FancyLibrary</h1>
    </main>
    <footer>
        <div class="contacts">
            <h2>
                Contacts
            </h2>
            <a class="contacts-link" href="https://github.com/VladoDev03" target="blank">Git hub</a>
            <a class="contacts-link" href="https://www.facebook.com/profile.php?id=100012226818631" target="blank">Facebook</a>
            <a class="contacts-link" href = "mailto: vladsto101@gmail.com">Email</a>
        </div>
    </footer>
</body>
</html>