ul {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(146, 247, 247);
    width: 635px;
    height: 35px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border: solid;
    border-color: rgb(179, 199, 92);
}

li {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.page {
    font-size: larger;
    text-decoration: none;
    border: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: cornsilk;
    font-style: italic;
    font-weight: bold;
}

.page:hover {
    color: tomato;
    text-decoration: underline;
}

h1 {
    margin-top: 20px;
    text-align: center;
    font-style: italic;
    color: maroon;
}

h2 {
    text-decoration: underline;
    color: rgb(199, 84, 199);
}

.contacts-link {
    text-decoration: none;
    display: block;
    font-size: larger;
    font-weight: bold;
    color:tomato
}

.contacts-link:hover {
    color: rgb(13, 146, 146);
    text-decoration: underline;
}

.contacts {
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248, 248, 125);
    text-align-last: center;
    font-style: italic;
    width: 300px;
    height: 165px;
    padding-top: 1px;
    border-radius: 25px;
    border: solid;
    border-color: rgb(231, 156, 231);
}