h1 {
    margin-top: 50px;
    text-align: center;
    font-style: italic;
    color: maroon;
}

h2 {
    text-decoration: underline;
    color: rgb(199, 84, 199);
}

.contacts-link {
    text-decoration: none;
    display: block;
    font-size: larger;
    font-weight: bold;
    color: tomato
}

    .contacts-link:hover {
        color: rgb(13, 146, 146);
        text-decoration: underline;
    }

.contacts {
    /*margin-top: 400px;*/
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(248, 248, 125);
    text-align-last: center;
    font-style: italic;
    width: 300px;
    height: 200px;
    padding-top: 1px;
    border-radius: 25px;
    border: solid;
    border-color: rgb(231, 156, 231);
}

i {
    display: inline;
    color: tomato;
    margin-right: 5px;
}

i:hover {
    color: rgb(13, 146, 146);
}

.icons {
    margin-top: 10px
}

p {
    margin-top: 125px;
    text-align: center;
}

.icons a {
    display: inline;
}

img {
    margin-top: 25px;
    border: solid;
    border-radius: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}