@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link href="~/css/ProfilePage.css" rel="stylesheet" />

<article id="change-password">
    <form asp-controller="User" asp-action="ChangePassword" method="post">
        @if (ViewData["PasswordNotChanged"] != null || (string)ViewData["PasswordNotChanged"] != "")
        {
            <span class="text-danger">@ViewData["PasswordNotChanged"]</span>
        }
        <label for="old-password">Old password</label>
        <input class="new-data" type="password" name="oldPass" id="oldPass">

        <label for="new-password">New password</label>
        <input class="new-data" type="password" name="newPass" id="newPass">

        <button type="submit" class="submit-data">Change</button>
        <a class="btn btn-secondary" asp-controller="User" asp-action="Profile">Cancel</a>
    </form>
</article>