@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<title>Book details</title>
<link href="~/css/DetailsPage.css" rel="stylesheet" />

<p>@Model</p>

<div class="data-container">
    <p>Id - 1</p>
    <p>Title - AnyTitle</p>
    <p>Genre - AnyGenre</p>
    <p>Author - AnyAuthor</p>
    <p>Year - 2021</p>
    <p>Pages-111</p>
</div>

@*<p>@Model.Title</p>
<p>@Model.Genre</p>*@