table,
td,
th {
    border: 1px solid rgb(221, 221, 221);
}

body {
    padding: 50px 50px 0px 50px;
}

table {
    width: 65%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

th {
    background-color: rgb(221, 221, 221);
    text-align: left;
    height: 35px;
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

td, th {
    padding-left: 5px;
    border: solid 1px;
}

tbody tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

tbody tr:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    font-style: italic;
    color: maroon;
    margin-bottom: 50px;
    font-size: 35px;
}

h2 {
    font-style: italic;
    color: darkblue;
}

h3 {
    font-style: italic;
    color: rgb(28, 28, 247);
    margin: 0;
    margin-bottom: 10px;
}

.remove-book {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    background-color: rgb(255, 122, 98);
    padding: 20px;
    padding-top: 15px;
    text-align: center;
    width: 20%;
    border-radius: 25px;
    border: solid;
    border-color: teal;
}

.remove-book input {
    background-color: rgb(13, 194, 194);
    border: solid;
    border-radius: 7px;
    margin-right: 3px;
}

.remove-book input:hover {
    background-color: rgb(8, 161, 161);
    border: solid;
    border-radius: 7px;
}

.remove-book button {
    background-color: wheat;;
    color: rgb(119, 82, 14);
    margin-left: 3px;
    border-radius: 10px;
    font-weight: bold;
    border: solid;
    font-style: italic;
}

.remove-book button:hover {
    background-color: violet;
    margin-left: 3px;
    text-decoration: underline;
}

.profile-info, .contact-info {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(224, 218, 131);
    padding-top: 20px;
    border-radius: 25px;
    border: solid;
    border-color: rgb(10, 163, 10);
    font-weight: bold;
}

.profile-info {
    width: 420px;
    height: 305px;
    text-align: center;
}

.contact-info {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 400px;
    height: 145px;
}

.contact-title, .user-title {
    margin-top: 1px;
    font-size: 25px;
}

.property-link {
    margin-left: 10px;
    color: rgb(149, 42, 250);
    text-decoration: none;
    font-weight: bold;
}

.property-link:hover {
    text-decoration: underline;
    color: darkblue;
}

.property {
    margin-top: 2px;
    color: blue;
    font-size: large;
    text-align: center;
    font-style: italic;
}

#change-user-data,
#change-password {
    border: solid;
    border-radius: 25px;
    border-color: brown;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    background-color: burlywood;
}

form label {
    display: block;
    margin-top: 20px;
    font-style: italic;
    font-weight: bold;
    color: maroon;
    margin-bottom: 3px;
}

form label:nth-child(1) {
    margin-top: 0;
}

article:nth-child(2) {
    margin-top: 100px;
    margin-bottom: 100px;
}

form .submit-data {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

form .new-data {
    background-color: tomato;
    border: solid;
    border-radius: 7px;
}

form .new-data:hover {
    background-color: rgb(255, 163, 147);
}

form .submit-data {
    background-color: rgb(131, 174, 255);
    color: rgb(228, 94, 50);
    font-weight: bold;
    border-color: rgb(228, 94, 50);
    border: solid;
    border-radius: 10px;
    padding: 3px 7px;
    font-style: italic;
}

form .submit-data:hover {
    text-decoration: underline;
    background-color: rgb(228, 94, 50);
    color: rgb(131, 174, 255);
    font-weight: bold;
    border-color: rgb(131, 174, 255);
}