<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="book.css">
    <title>Books</title>
</head>
<body>
    <h1>Books</h1>
    <section id="order-by">
        <h2>Order by</h2>
        <button>Title</button>
        <button>Author</button>
        <button>Number</button>
        <button>Year</button>
        <button>Saved</button>
    </section>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Year</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Matilda</td>
                    <td>Children's literature Fantasy</td>
                    <td>1988</td>
                    <td>Roald Dahl</td>
                <tr>
                    <td>The Secret Garden</td>
                    <td>Children's novel</td>
                    <td>1911</td>
                    <td>Frances Hodgson Burnett</td>
                </tr>
                <tr>
                    <td>The witches</td>
                    <td>Children's fantasy Dark fantasy</td>
                    <td>1983</td>
                    <td>Roald Dahl</td>
                </tr>
                <tr>
                    <td>The Twits</td>
                    <td>Children's novel</td>
                    <td>1980</td>
                    <td>Roald Dahl</td>
                </tr>
                <tr>
                    <td>Around the World in Eighty Days</td>
                    <td>Adventure novel</td>
                    <td>1872</td>
                    <td>Jules Verne</td>
                </tr>
                <tr>
                    <td>George's Marvellous Medicine</td>
                    <td>Children's novel</td>
                    <td>1981</td>
                    <td>Roald Dahl</td>
                </tr>
                <tr>
                    <td>Charlie and the Chocolate Factory</td>
                    <td>Children's fantasy novel</td>
                    <td>1964</td>
                    <td>Roald Dahl</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form>
            <h3>Type the title or the number of the book you want to add.</h3>
            <label for="input" id="title-input">Title<span id="bolder"> / </span>number</label>
            <input type="text number" id="input">
            <button type="submit">Add book</button>
        </form>
        <form>
            <h3>If you don't find the book you want to add, type its data in the following page.</h3>
            <label for="title">Title</label>
            <input type="text" id="title">
            <label for="genre">Genre</label>
            <input type="text" id="genre">
            <label for="year">Year</label>
            <input type="text" id="year">
            <label for="author">Author</label>
            <input type="text" id="author">
            <button type="submit" id="block-button">Add book</button>
        </form>
    </div>
</body>
</html>