<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="author.css">
    <title>Authors</title>
</head>
<body>
    <h1>Authors</h1>
    <section id="order-by">
        <h2>Order by</h2>
        <button>Name</button>
        <button>Country</button>
        <button>Birthday</button>
        <button>Number</button>
        <button>Books</button>
    </section>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Birthday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Roald Dahl</td>
                    <td>Wales</td>
                    <td>13 September 1916</td>
                </tr>
                <tr>
                    <td>Frances Hodgson Burnett</td>
                    <td>England</td>
                    <td>24 November 1849</td>
                </tr>
                <tr>
                    <td>Jules Verne</td>
                    <td>France</td>
                    <td>8 February 1828</td>
                </tr>
            </tbody>
        </table>
        <form>
            <h3>If you want to add more data abbout an author you can do it from here.</h3>
            <label for="country">Country</label>
            <input type="text" name="country" id="country">
            <label for="birthday">Birthday</label>
            <input type="date" name="birthday" id="birthday">
            <button type="submit">Add info</button>
        </form>
    </div>
</body>
</html>