<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form>
        <label for="username">
            <span class="label-text">Username</span>
            <input type="text" name="username" id="username" autofocus>
        </label>
        <label for="password">
            <span class="label-text">Password</span>
            <input type="password" name="password" id="password">
        </label>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</body>
</html>