<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="AuthorDetails.css">
    <title>Book details</title>
</head>
<body>
    <div class="data-container">
        <p>Name - AnyName1 AnyName2 AnyName3</p>
        <p>Books count - 10</p>
        <p>Birthday - 12-03-2021</p>
        <p>Nickname - AnyNickname</p>
        <p>Country-Bulgaria</p>
    </div>
</body>
</html>