@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<link href="~/css/HomePage.css" rel="stylesheet" />
<script src="~/js/Main.js"></script>
<script src="https://kit.fontawesome.com/640427ff8d.js" crossorigin="anonymous"></script>

<main>
    <h1 id="title">FancyLibrary</h1>
</main>

<footer>
    <div class="contacts">
        <h2>
            Contacts
        </h2>

        <a class="contacts-link" href="https://www.linkedin.com/in/vladimir-stoyanov-1b0810208/" target="blank">Linkedin</a>
        <a class="contacts-link" href="https://github.com/VladoDev03" target="blank">Git hub</a>
        <a class="contacts-link" href="https://www.facebook.com/profile.php?id=100012226818631" target="blank">Facebook</a>
        <a class="contacts-link" href="mailto: vladsto101@gmail.com">Email</a>

        <div class="icons">
            <a class="contacts-link" href="https://www.linkedin.com/in/vladimir-stoyanov-1b0810208/" target="blank"><i class="fab fa-linkedin-in"></i></a>
            <a class="contacts-link" href="https://github.com/VladoDev03" target="blank"><i class="fab fa-github"></i></a>
            <a class="contacts-link" href="https://www.facebook.com/profile.php?id=100012226818631" target="blank"><i class="fab fa-facebook-f"></i></a>
            <a class="contacts-link" href="mailto: vladsto101@gmail.com"><i class="fas fa-envelope-square"></i></a>
        </div>
    </div>
    <p>&copy; All rights served.</p>
</footer>