<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Fancy Library Home</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../LoginPage/login.html">Login</a>
                </li>
                <li>
                    <a href="../RegisterPage/register.html">Register</a>
                </li>
                <li>
                    <a href="../AuthorPage/author.html">Authors</a>
                </li>
                <li>
                    <a href="../BookPage/book.html">Books</a>
                </li>
                <li>
                    <a href="../ProfilePage/profile.html">Profile</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>